src/gerador_cli/xml/XSD_dominio.xml

<!-- project-profile.xsd (XSD 1.0) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- NOVO: tipos auxiliares para strings não vazias -->
  <xsd:simpleType name="NonEmptyTrimmedString">
    <xsd:restriction base="xsd:string">
      <!-- pelo menos um caractere não-branco -->
      <xsd:pattern value=".*\S.*"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="EmptyOrWhitespaceString">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\s*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="OptionalNonEmptyTrimmedString">
    <xsd:union memberTypes="NonEmptyTrimmedString EmptyOrWhitespaceString"/>
  </xsd:simpleType>

  <!-- (opcional) um limite prático para summary -->
  <xsd:simpleType name="SummaryString">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value=".*\S.*"/>
      <xsd:minLength value="10"/>
      <xsd:maxLength value="600"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ConfidenceType">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0.0"/>
      <xsd:maxInclusive value="1.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="OptionalConfidenceType">
    <xsd:union memberTypes="ConfidenceType EmptyOrWhitespaceString"/>
  </xsd:simpleType>

  <xsd:simpleType name="ProjectKindEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="framework"/>
      <xsd:enumeration value="web_service"/>
      <xsd:enumeration value="web_app"/>
      <xsd:enumeration value="mobile_app"/>
      <xsd:enumeration value="desktop_app"/>
      <xsd:enumeration value="data_pipeline"/>
      <xsd:enumeration value="infrastructure"/>
      <xsd:enumeration value="cli"/>
      <xsd:enumeration value="library"/>
      <xsd:enumeration value="package"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element name="projectProfile">
    <xsd:complexType>
      <xsd:sequence>
        <!-- <xsd:element name="metadata" type="xsd:string"/> -->
        <xsd:element name="projectType" type="ProjectType"/>
        <xsd:element name="domain" type="Domain"/>
        <xsd:element name="domainDetails" type="DomainDetails"/>
        <xsd:element name="evidence" type="Evidence" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="version" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="Evidence">
    <xsd:sequence>
      <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="source" type="xsd:string" minOccurs="0"/>
            <xsd:element name="snippet" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="field" type="xsd:string" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DomainDetails">
    <xsd:sequence>
      <xsd:element name="summary" type="SummaryString"/>
      <xsd:element name="entities">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="entity" type="NonEmptyTrimmedString" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="coreTasks">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="task" type="NonEmptyTrimmedString" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actors" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="actor" type="NonEmptyTrimmedString" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="integrations" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="integration" type="NonEmptyTrimmedString" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nonFunctional" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nfr" type="NonEmptyTrimmedString" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="confidence" type="ConfidenceType"/>
      <xsd:element name="rationale" type="NonEmptyTrimmedString"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Domain">
    <xsd:sequence>
      <xsd:element name="domainAnchors" type="DomainAnchors"/>
      <xsd:element name="labels" type="Labels" minOccurs="0"/>
      <xsd:element name="other" type="Other" minOccurs="0"/>
      <xsd:element name="confidence" type="ConfidenceType"/>
      <xsd:element name="rationale" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DomainAnchors">
    <xsd:sequence>
      <xsd:element name="keywords" type="Keywords"/>
      <xsd:element name="artifacts" type="Artifacts"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Keywords">
    <xsd:sequence>
      <xsd:element name="kw" minOccurs="2" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="NonEmptyTrimmedString">
              <xsd:attribute name="source" type="NonEmptyTrimmedString" use="required"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Artifacts">
    <xsd:sequence>
      <xsd:element name="artifact" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="kind" type="NonEmptyTrimmedString" use="required"/>
          <xsd:attribute name="name" type="NonEmptyTrimmedString" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Labels">
    <xsd:sequence>
      <xsd:element name="label" minOccurs="0" maxOccurs="3">
        <xsd:complexType>
          <xsd:attribute name="name" type="NonEmptyTrimmedString" use="required"/>
          <xsd:attribute name="weight" type="ConfidenceType" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Other">
    <xsd:sequence>
      <xsd:element name="name" type="OptionalNonEmptyTrimmedString" minOccurs="0"/>
      <xsd:element name="confidence" type="OptionalConfidenceType" minOccurs="0"/>
      <xsd:element name="source_terms" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="term" type="OptionalNonEmptyTrimmedString" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rationale" type="OptionalNonEmptyTrimmedString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProjectType">
    <xsd:sequence>
      <xsd:element name="label" type="NonEmptyTrimmedString"/>
      <xsd:element name="confidence" type="ConfidenceType"/>
      <xsd:element name="rationale" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="kind" type="ProjectKindEnum" use="required"/>
  </xsd:complexType>

</xsd:schema>
